<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="MediaCenter, Template, eCommerce" />
  <meta name="robots" content="all" />
  <title>DealDots premium HTML5 & CSS3 Template</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href='@Url.Content("~/assets/css/bootstrap.min.css")' />

  <!-- Customizable CSS -->
  <link rel="stylesheet" href='@Url.Content("~/assets/css/main.css")' />
  <link rel="stylesheet" href='@Url.Content("~/assets/css/blue.css")' />
  <link rel="stylesheet" href='@Url.Content("~/assets/css/owl.carousel.css")' />
  <link rel="stylesheet" href='@Url.Content("~/assets/css/owl.transitions.css")' />
  <link rel="stylesheet" href='@Url.Content("~/assets/css/rateit.css")' />
  <link rel="stylesheet" href='@Url.Content("~/assets/css/bootstrap-select.min.css")' />

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href='@Url.Content("~/assets/css/font-awesome.css")' />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800"
    rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800"
    rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- ============================================== HEADER ============================================== -->
  <partial name="_HeaderPartial"></partial>

  <!-- ============================================== HEADER : END ============================================== -->

  <!-- /.breadcrumb -->
  <partial name="_BreadcrumbPartial"></partial>
  <div class="body-content outer-top-ts">
    <div class="container">
      @RenderBody()
    </div>
    <partial name="_FooterPartial"></partial>
  </div>

  <!-- ============================================================= FOOTER ============================================================= -->

  <!-- For demo purposes – can be removed on production -->

  <!-- For demo purposes – can be removed on production : End -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src='@Url.Content("~/assets/js/jquery-1.11.1.min.js")'></script>
  <script src='@Url.Content("~/assets/js/bootstrap.min.js")'></script>
  <script src='@Url.Content("~/assets/js/bootstrap-hover-dropdown.min.js")'></script>
  <script src='@Url.Content("~/assets/js/owl.carousel.min.js")'></script>
  <script src='@Url.Content("~/assets/js/echo.min.js")'></script>
  <script src='@Url.Content("~/assets/js/jquery.easing-1.3.min.js")'></script>
  <script src='@Url.Content("~/assets/js/bootstrap-slider.min.js")'></script>
  <script src='@Url.Content("~/assets/js/jquery.rateit.min.js")'></script>
  <script src='@Url.Content("~/assets/js/lightbox.min.js")'></script>
  <script src='@Url.Content("~/assets/js/bootstrap-select.min.js")'></script>
  <script src='@Url.Content("~/assets/js/wow.min.js")'></script>
  <script src='@Url.Content("~/assets/js/scripts.js")'></script>
  @RenderSection("scripts", required: false)
</body>

</html>
