@using BigSave.Web.Models.DataModel;
@model List<MerchantViewModel>
@{
    var spt = 1;
}
<div class="mobile-category-nav d-xl-none mb-15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--======= category menu =======-->
                <div class="hero-side-category">
                    <!-- Category Toggle Wrap -->
                    <div class="category-toggle-wrap">
                        <!-- Category Toggle -->
                        <button class="category-toggle"><i class="fa fa-bars"></i> All Stores</button>
                    </div>
                    <!-- Category Menu -->
                    <nav class="category-menu">
                        <ul>
                            @foreach (var merchant in Model)
                            {
                                <li class="menu-item-has-children menu-item-has-children-@spt">
                                    <a asp-action="Index" asp-route-merchantId="@merchant.Id"
                                        asp-controller="Product">@merchant.Name<i class="ion-ios-arrow-down"></i></a>
                                    <!-- category submenu -->
                                    <ul class="category-mega-menu category-mega-menu-@spt">
                                        @foreach (var category in merchant.Categories)
                                        {
                                            <li><a asp-action="Index" asp-route-merchantId="@merchant.Id"
                                                    asp-route-categoryId="@category.Id">@category.Id</a></li>
                                        }
                                    </ul>
                                    spt++;
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <!--======= End of category menu =======-->
            </div>
        </div>
    </div>
</div>